[Desktop Entry]
Type=Application
Version=1.0
Name=Install Aegis Linux
GenericName=System Installer
Comment=Install Aegis Linux to your computer
Exec=pkexec calamares
Icon=calamares
Terminal=false
Categories=System;
Keywords=installer;system;
StartupNotify=true
